body {
    font-family: 'TT Lakes', sans-serif;
	font-weight: 400;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    max-width: 1490px;
    margin: 0 auto;
    border-left: 1px solid #a5a7b3;
    border-right: 1px solid #a5a7b3;
}

.main-content-wrapper {
    max-width: 1120px;
    width: 100%;
}

.main {
    background: #F8F8F8;
}

.section-title {
    height: 56px;
    margin: 0;
    padding: 16px 32px;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: #7E7E82;
    background: linear-gradient(-270deg, #F8F8F8 0%, #FFFFFF 98.61%);
}
